footer {
    font-size: 13px;
    text-align: center;
    margin-top: 80px;
    width: 100%;
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    footer {
        font-size: 20px;
    }
}